.root {

    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    perspective: 1000px;

    background: $purple;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {

        margin: 0;

    }

}

