.root {

    position: fixed;
    left: 0;
    top: 0;

    display: block; // override critical
    width: 100%;
    height: 100%;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {

        margin: 0;

    }

}

