.controls {

    position: absolute;
    left: 0;
    top: 0;

    width: $controls-width;
    height: 100%;

    color: #fff;
    background: #1e1c18;
    box-shadow: rgba( 0, 0, 0, 0.2 ) 1px 0 5px;

    .controls__inner {

        margin: 2rem;

    }

    .is-selected {

        color: #0ff;

    }

    .controls__margin {

        .margin__inputs {

            position: relative;
            width: 100%;
            height: 130px;

        }

        input {

            position: absolute;

            width: 50px;
            padding: 0;
            margin: 0;

            text-align: center;

            &.margin__top {

                left: 50px;
                top: 0;

            }

            &.margin__bottom {

                left: 50px;
                top: 90px;

            }

            &.margin__left {

                left: 15px;
                top: 45px;

            }

            &.margin__right {

                left: 85px;
                top: 45px;

            }

        }

    }

}