.root {

    color: #000;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    li,
    a {

        color: inherit;
        font-size: inherit;
        line-height: inherit;
        font-family: inherit;
        font-weight: inherit;

    }

    strong {

    }

    a {

        cursor: pointer;
        text-decoration: none;

    }

}